{{ define "main" }}
<!-- Jarrett's Header -->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC_-czyGuDPtTLXv8zioFztqAVe9zfAkHg"></script>
<link  href="googlereview.css" rel="stylesheet" type="text/css">
<script src="googlereview.js"></script>
<!-- featured post -->
<section class="section-sm">
  <div class="container-sm">
    <div class="container-fluid bg-light text-light p-5 border">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <video class="lazy" poster="images/author.jpg" autoplay muted loop playsinline src="video/intro.mp4" width="100%" height="100%" style="filter: saturate(1.5);" id="vid"></video>
          <script>
            document.getElementById('vid').play();
          </script>
        </div>
        <div class="col-xs-12 col-md-6">
          <h1 class="display-4">Plant Lover's Paradise!</h1>
          <p class="lead">For over 40 years, Jarrett's Jungle has offered high quality service and exceptional knowledge.</p>
          <hr class="my-4">
          <p>We offer an ample inventory of tropical plants, outdoor plants, and succulents. Our in-store florist can take orders in-person,
            online, or over the phone. Call us or stop by if you have any plant question!</p>
            
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/order" role="button">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-sm" style="margin-left:10% auto;margin-right:10% auto;">
  <h1 style="text-decoration: underline; text-align: center;">Reviews</h1>
  <div class="d-flex justify-content-center">
    
    <div id="google-reviews"></div>
  </div>
</div>
<script>

jQuery(document).ready(function($) {
  if ($("#google-reviews").length == 0) {
    return
  }
  // Find a placeID via https://developers.google.com/places/place-id
  $("#google-reviews").googlePlaces({
    placeId: 'ChIJYaw_OrC8-IgReIU7irl0BHc',
    // the following params are optional (default values)
    header: "", // html/text over Reviews
    footer: '', // html/text under Reviews block
    maxRows: 4, // max 5 rows of reviews to be displayed
    minRating: 4, // minimum rating of reviews to be displayed
    months: ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
    textBreakLength: "20", // length before a review box is set to max width
    shortenNames: false, // example: "Max Mustermann" -> "Max M."",
    moreReviewsButtonLabel: 'Show More Reviews',
    writeReviewButtonUrl: '', // url to Google Place write review popup
    writeReviewButtonLabel: 'Write New Review',
    showProfilePicture: true
  });

  function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

shownre = 0;
setInterval(async function toggle() {

 
  for (var i = 0; i <= 3; i++) {
    if (i == shownre) {
      $('#re' + i).toggleClass('hidden', false);
      
    }
    else {
      $('#re' + i).toggleClass('hidden', true);
      
    }
  }
  shownre = shownre + 1;
  if (shownre == 4)  {shownre = 0};
}, 6000);
});



</script>
<!-- /featured post -->

  <div class="container-sm" style="height:4em;">
    <div class="d-flex justify-content-center">
      
      <h1 style="text-decoration: underline;">Latest</h1>
      <br/>
      <br/>
    </div>
  </div>

<!-- recent post -->
<section>

    <div class="row justify-content-center" style="margin: 10px;">
      
      {{ range first 5 (where .Site.RegularPages "Type" "post")}}
      <div class="col-md-3 col-xs-6 col-lg-3 col-xl-2 small-post-border" onclick="window.location='{{ .Permalink }}'" style="height:10em; cursor: pointer;">
        <article class="media">
          <div id="late"></div>
          <div class="row"> 
            
            {{ if .Params.Image }}
            <div class="col">
              <div class="mr-3" style="background-image: url('{{ .Params.Image | absURL }}'); width:100%; height: 9em; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            </div>
            {{ end }}
              <div class="col">
                
                <div class="mb-1 post-meta">
                  
                  {{ if not .Params.HideDate }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  <span>{{ .PublishDate.Format "02 Jan 2006" }}</span>
                  {{ end }}
                  
                </div>
                <a href="{{ .Permalink }}" class="h5 d-block mb-1">{{ .Title | markdownify }}</a>
                <div class=" mb-1">{{ .Description }}</div>
                
                
              </div>
            </div>
        </article>
      </div>
      {{ end }}
      <script>
        $('#late').html('<h4 style="color:white; background-color: orange; text-align: center;"><i>Latest</i></h4>')
      </script>
    </div>
 
</section>

<!-- /recent post -->

{{ end }}