{{ define "main" }}

    <section class="section-sm pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2>{{ .Title | markdownify }}</h2>
                    <div class="content mb-4">
                        {{ .Content }}
                    </div>

                </div>
            </div>
        </div>
    </section> .

  <script>
    function fit() {
    var iframes = document.querySelectorAll("iframe.gh-fit")

    for(var id = 0; id < iframes.length; id++) {
        var win = iframes[id].contentWindow
        var doc = win.document
        var html = doc.documentElement
        var body = doc.body
        var ifrm = iframes[id] // or win.frameElement

        if(body) {
            body.style.overflowX = "scroll" // scrollbar-jitter fix
            body.style.overflowY = "hidden"
        }
        if(html) {
            html.style.overflowX = "scroll" // scrollbar-jitter fix
            html.style.overflowY = "hidden"
            var style = win.getComputedStyle(html)
            ifrm.width = parseInt(style.getPropertyValue("width")) // round value
            ifrm.height = parseInt(style.getPropertyValue("height"))
        }
    }

    requestAnimationFrame(fit)
}

addEventListener("load", requestAnimationFrame.bind(this, fit))
  </script>
    <!-- blog post -->

        
        <div class="container">
            
            <div class="row justify-content-center " style="margin:auto;">
                  <div class="embed-responsive" style="width:100%;">
                    <iframe class="embed-responsive-item" src="https://jarretts-jungle-107200.square.site"></iframe>
                  </div>
                   

                <!-- pagination -->
                <div class="col-12 mt-5">
                    {{ template "_internal/pagination.html" . }}
                </div>

            </div>
        </div>
    </section>

    <!-- /blog post -->
{{ end }}
