{{ define "main" }}

    <section class="section-sm pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2>{{ .Title | markdownify }}</h2>
                    <div class="content mb-4">
                        {{ .Content }}
                    </div>

                </div>
            </div>
        </div>
    </section> .


    <!-- blog post -->

        
        <div class="container">
            
            <div class="row justify-content-center " style="margin:auto;">
                  <div class="col-md-3 col-sm-6 m-2">
                    <div class="card product" style=>
                    <img class="lazy" class="shop-img" src="/images/flowers/mix.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mixed Arrangement</h5>
                            <p class="card-text">Multiple flowers and greenery arranged in a glass vase.</p>
                            
                            <a href="https://jarretts-jungle-107200.square.site/product/mixed-arrangement/1?cs=true&cst=custom" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 m-2">
                    <div class="card product" style=>
                    <img class="lazy" class="shop-img" src="/images/flowers/trop.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tropical Arrangement</h5>
                            <p class="card-text">Tropical flowers and greenery in an Oasis Block</p>
                            <a href="https://jarretts-jungle-107200.square.site/product/tropical-arrangement/2?cs=true&cst=custom" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 m-2">
                    <div class="card product" style=>
                    <img class="lazy" class="shop-img" src="http://cdn.shopify.com/s/files/1/1291/5469/products/Giftcard_icon-01_1024x1024.jpg?v=1469561084" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gift Card</h5>
                            <p class="card-text">Custom Gift Cards!</p>
                            <a href="https://squareup.com/gift/ZYBW82MNZA522/order" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                  </div>
                   

                <!-- pagination -->
                <div class="col-12 mt-5">
                    {{ template "_internal/pagination.html" . }}
                </div>

            </div>
        </div>
    </section>

    <!-- /blog post -->
{{ end }}
