{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>

      </div>
    </div>
  </div>
</section>


<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <iframe scrolling="no" seamless="seamless" frameborder="0"style="overflow:hidden; aspect-ratio: 16/9;" class="juxtapose" width="100%"  src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=eecb85b4-b275-11eb-b7bf-95443c729a29"></iframe>
      A dying tree brought back to life!
      
      
      
      <!-- pagination -->
      <div class="col-12 mt-5">
        <p>
          We have the best Services Available. We offer
          Horticulturist on Duty
          Local Delivery
          Custom Arrangements
          Plant Maintenance
          Funerals
          Weddings
          Altar arrangements for Churches
          Repotting
          Insect and Disease Diagnosis
          Pruning
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->
{{ end }}