<div class="col-4 col-lg-4">
    <article class="card post-card">
        {{ if .Params.Image }}
        <a href="{{ .Permalink }}"><img class="card-img-top lazy" src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}"></a>
        {{ end }}
        <div class="card-body px-0">
        <a href="{{ .Permalink }}" class="postit">{{ .Title | markdownify }}</a>
        <p class="card-text">{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
        </div>
    </article>
</div>