{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4">
        {{ end }}
        
        <div class="content" >
          {{ .Content }}
        </div>
        <!-- Carousel wrapper -->
        <div id="nanogallery2"
              
                 
                  data-nanogallery2 = '{
                        "thumbnailHeight":  300,
                        "thumbnailWidth":   300,
                        "itemsBaseURL":     ""
                        "viewerToolbar":   {
                          "display":    false,
                        },
                        "viewerTools":     {
                              "topLeft":    "pageCounter",
                              "topRight":   "playPauseButton, zoomButton, fullscreenButton, closeButton"
                        }   
                      }' >
                      
                  <!-- gallery content -->
                  <a href = "/images/shop/IMG_0733.jpg" > Our Shop </a>
                  <a href = "/images/shop/IMG_0735.jpg" > Bonsai Display </a>
                  <a href = "/images/shop/IMG_0736.jpg" > Plant Collections </a>
                  <a href = "/images/shop/IMG_0737.jpg" > Outside </a>
                  <a href = "/images/shop/IMG_0738.jpg" > Flowers! </a>
                  <a href = "/images/shop/IMG_0739.jpg" > Goldfish Pond </a>
                  <a href = "/images/shop/IMG_0745.jpg" > Front Entrance </a>
                  <a href = "/images/shop/IMG_0742.jpg" > Mist System </a>
                  <a href = "/images/shop/IMG_0743.jpg" > Cacti </a>
              </div>
      </div>
    </div>
  </div>
</section>





{{ end }}