{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
    <div
        class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-white bg-transparent border-bottom border-5 pl-0">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img class="img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ .Name }}
                            </a>
                            <div class="dropdown-menu">
                                {{ range .Children }}
                                    <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                    {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
                {{ if .Site.Params.search.enable }}
                {{ "<!-- search -->" | safeHTML }}
                <style>
                  [type="search"]::-webkit-search-cancel-button,
                  [type="search"]::-webkit-search-decoration {
                    -webkit-appearance: none;
                    appearance: none;
                  }
                </style>
                <li class="search pl-lg-4" >
                    
                    <li id="searchOpen" class="nav-item" style="width:8em; ">
                      <a class="nav-link">Search <i class="fa fa-search"></i></a>
                    </li>
                    <div class="search-wrapper">
                        <form action="https://whispering-bath.cloudvent.net/search" class="h-100">
                            <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="Search...">
                        </form>
                        <button id="searchClose" class="search-close">
                            <i class="ti-close text-dark"></i>
                        </button>
                    </div>
                  </li>
            {{ end }}
            </ul>

            

            {{ if .Site.Params.navButton.enable }}
                {{ "<!-- get start btn -->" | safeHTML }}
                <a href="{{ .Site.Params.navButton.link | absURL }}" class="btn btn-primary ml-lg-4">{{
        .Site.Params.navButton.label }}</a>
            {{ end }}
        </div>
      </div>
    </div>
    </nav>
</div></header>{{ "<!-- /navigation -->" | safeHTML }}
